/* .minH {
    min-height: 85vh;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.aboutBackdround {
    background: rgb(90, 157, 245);
    min-height: 30vh;
    transition: clip-path 1s;
} */